h1 {color:blue}
p {font-family: 'Ubuntu', sans-serif;}
h3 {font-family: 'Ubuntu', sans-serif;}
h1 {font-family: 'Koulen', cursive;}
h2 {font-family; 'Oswald', sans-serif;}
body {background-color: lightgreen;}
